*.egg-info
__pycache__/
.ipynb_checkpoints
results/
.snakemake

logs/*
!logs/README.txt
temp/
dependency.png
envs/src/
singularity_container/

/target
/.nextflow
/resources_test
/resources