# The API specifies which type of component this is.
# It contains specifications for:
#   - The input/output files
#   - Common parameters
#   - A unit test
__merge__: ../../api/comp_control_method.yaml

# A unique identifier for your component (required).
# Can contain only lowercase letters or underscores.
name: true_labels

# A relatively short label, used when rendering visualisations (required)
label: True Labels
# A one sentence summary of how this method works (required). Used when 
# rendering summary tables.
summary: "a positive control, solution labels are copied 1 to 1 to the predicted data."
# A multi-line description of how this component works (required). Used
# when rendering reference documentation.
description: |
  A positive control, where the solution labels are copied 1 to 1 to the predicted data.

# Metadata for your component
info:
  # Which normalisation method this component prefers to use (required).
  preferred_normalization: counts

# Component-specific parameters (optional)
# arguments:
#   - name: "--n_neighbors"
#     type: "integer"
#     default: 5
#     description: Number of neighbors to use.

# Resources required to run the component
resources:
  # The script of your component (required)
  - type: python_script
    path: script.py
  # Additional resources your script needs (optional)
  # - type: file
  #   path: weights.pt

engines:
  # Specifications for the Docker image for this component.
  - type: docker
    image: openproblems/base_python:1.0.0
    # Add custom dependencies here (optional). For more information, see
    # https://viash.io/reference/config/engines/docker/#setup .
    # setup:
    #   - type: python
    #     packages: scib==1.1.5

runners:
  # This platform allows running the component natively
  - type: executable
  # Allows turning the component into a Nextflow module / pipeline.
  - type: nextflow
    directives:
      label: [midtime, lowmem, lowcpu]
