# The API specifies which type of component this is.
# It contains specifications for:
#   - The input/output files
#   - Common parameters
#   - A unit test
__merge__: ../../api/comp_metric.yaml


# A unique identifier for your component (required).
# Can contain only lowercase letters or underscores.
name: accuracy

# Metadata for your component
info:
  metrics:
    # A unique identifier for your metric (required).
    # Can contain only lowercase letters or underscores.
    - name: accuracy
      # A relatively short label, used when rendering visualisarions (required)
      label: Accuracy
      # A one sentence summary of how this metric works (required). Used when 
      # rendering summary tables.
      summary: "The percentage of correctly predicted labels."
      # A multi-line description of how this component works (required). Used
      # when rendering reference documentation.
      description: |
        The percentage of correctly predicted labels.
      # A reference key from the bibtex library at src/common/library.bib (required).
      references:
        doi: 10.48550/arXiv.2008.05756
      # The minimum possible value for this metric (required)
      min: 0
      # The maximum possible value for this metric (required)
      max: 1
      # Whether a higher value represents a 'better' solution (required)
      maximize: true

# Component-specific parameters (optional)
# arguments:
#   - name: "--n_neighbors"
#     type: "integer"
#     default: 5
#     description: Number of neighbors to use.

# Resources required to run the component
resources:
  # The script of your component (required)
  - type: python_script
    path: script.py
  # Additional resources your script needs (optional)
  # - type: file
  #   path: weights.pt

engines:
  # Specifications for the Docker image for this component.
  - type: docker
    image: openproblems/base_python:1.0.0
    # Add custom dependencies here (optional). For more information, see
    # https://viash.io/reference/config/engines/docker/#setup .
    setup:
      - type: python
        packages: scikit-learn

runners:
  # This platform allows running the component natively
  - type: executable
  # Allows turning the component into a Nextflow module / pipeline.
  - type: nextflow
    directives:
      label: [midtime, midmem, midcpu]
