__merge__: /src/api/comp_control_method.yaml
name: identity
label: Identical copy of the scRNAseq reference
summary: Identical copy of the scRNAseq reference
description: The scRNAseq reference is taken as processed spatial data
resources:
  - type: python_script
    path: script.py
engines:
  - type: docker
    image: openproblems/base_python:1
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [midtime, midmem, lowcpu]