name: normalize_by_volume

__merge__: /src/api/comp_method_normalization.yaml

resources:
  - type: python_script
    path: script.py

engines:
  - type: docker
    image: openproblems/base_python:1.0.0
    setup:
      - type: python
        github: [theislab/txsim@dev]
  - type: native

runners:
  - type: executable
  - type: nextflow
