#Folder where pipeline is contained (should end with 'txsim-pipeline')
#This might be obsolete given snakemake functionality
#ROOT: /home/icb/hrehman80//txsim-pipeline
ROOT: /home/icb/louis.kuemmerle/projects/g3/tx/txsim-pipeline

#Folder where intermediate/final files will be stored
#RESULTS: /lustre/groups/ml01/projects/2022_txsim_louis.kuemmerle/results
RESULTS: /lustre/groups/ml01/projects/2022_txsim_louis.kuemmerle/results/231114_xenium_nuc

#Folder where temporary files will be stored (optional)
#TEMP: /localscratch/hrehman80
TEMP: /lustre/groups/ml01/projects/2022_txsim_louis.kuemmerle/tmp/231114_xenium_nuc

# To run methods on tiles (baysor, clustermap) we need to pre calculate how to tile before the actual pipeline run
PRE_COMPUTE_TILE_INFO: False #True

# Tile settings
MAX_N_SPOTS_PER_TILE_BAYSOR: 10000000
MAX_N_SPOTS_PER_TILE_CLUSTERMAP: 10000000
N_PIXEL_EXTEND_TILE: 30


PREPROCESSING:
  batch0_binning:
    dataset: [xenium_brain_new_rep2_2000px] #, xenium_brain_new_rep2]
    workflow: [segmentation, assignment, normalize, annotate]
    segmentation:
      binning:
        bin_size: [15,30,45,60,70]
    assignment:
      basic:
    normalize:
      area:
    annotate:
      majority:
        threshold: [0.5]
  batch1_segmentation:
    dataset: [xenium_brain_new_rep2_2000px] #, xenium_brain_new_rep2]
    workflow: [segmentation, assignment, normalize, annotate]
    segmentation:
      custom:
      mesmer:
        image_mpp: [0.2125]
        compartment: ["nuclear", "whole-cell"]
      cellpose:
        model_type: [nuclei, cyto]
        diameter: [None, 20,30,40]
      watershed:
        blur_sigma: [0,1,5,10]
    segmentation_params:
      expand: [0, 5, 10, 20, 45, 70] 
    assignment:
      basic:
    normalize:
      area:
    annotate:
      majority:
        threshold: [0.5]
  #batch2_assign:
  #  dataset: [xenium_brain_new_rep2_2000px] #, xenium_brain_new_rep2]
  #  workflow: [assignment, normalize, annotate]
  #  assignment:
  #    baysor:
  #      scale: [20,30,40]
  #      min_molecules_per_cell: [30]
  #    clustermap:
  #      xy_radius: [20,30,40]
  #      sigma: [1,5]
  #  normalize:
  #    area:
  #  annotate:
  #    majority:
  #      threshold: [0.5]
  #batch3_segmentation_assign:
  #  dataset: [xenium_brain_new_rep2_2000px] #, xenium_brain_new_rep2]
  #  workflow: [segmentation, assignment, normalize, annotate]
  #  segmentation:
  #    cellpose:
  #      model_type: [cyto]
  #      diameter: [30]
  #    custom:
  #  segmentation_params:
  #    expand: [0] # [0,5,10,15]
  #  assignment:
  #    baysor:
  #      scale: [30]
  #      min_molecules_per_cell: [30]
  #      prior-segmentation-confidence: [0.2, 0.4, 0.6, 0.8]
  #  normalize:
  #    area:
  #  annotate:
  #    majority:
  #      threshold: [0.5]


METRICS:
  eval_batch0_xenium:
    dataset: xenium_brain_new_rep2_2000px
    metrics: all
    chunk_size: 10 # for a given dataset, use the same chunk_size, otherwise last one will be used
    files: [custom-3_basic-0_area-0_majority-0, custom-4_basic-0_area-0_majority-0, cellpose-1_basic-0_area-0_majority-0, cellpose-5_basic-0_area-0_majority-0, cellpose-37_basic-0_area-0_majority-0, cellpose-46_basic-0_area-0_majority-0, binning-0_basic-0_area-0_majority-0, binning-1_basic-0_area-0_majority-0, binning-2_basic-0_area-0_majority-0, binning-3_basic-0_area-0_majority-0, binning-4_basic-0_area-0_majority-0, mesmer-5_basic-0_area-0_majority-0, watershed-14_basic-0_area-0_majority-0, watershed-16_basic-0_area-0_majority-0]
    #files: all #for custom lists, you have to list ONLY the methods combinations, no prefix or suffix (e.g. cellpose-5_basic-0_area-0_majority-0)
    


DATA_SCENARIOS:
  xenium_brain_new_rep2:
    check_dataset: False
    root_folder: /lustre/groups/ml01/projects/2022_txsim_louis.kuemmerle/xenium_data/xenium_brain_new_rep2
    sc_data: scrnaseq_reference.h5ad
    segmented_image: [nuclei.tif]
    images: [morphology_focus.ome.tif]
    molecules: [spots.csv]
  xenium_brain_new_rep2_2000px:
    check_dataset: False
    root_folder: /lustre/groups/ml01/projects/2022_txsim_louis.kuemmerle/xenium_data/xenium_brain_new_rep2_2000px
    sc_data: scrnaseq_reference.h5ad
    segmented_image: [nuclei.tif]
    images: [morphology_focus.ome.tif]
    molecules: [spots.csv]